
<div class="row">
  <div class="col-md-6 col-md-offset-3 conbout">
    <h1>Contact</h1>
    <p>Please refer to the about page for information on this application.</p>
    <p>Contact Info</p>
    <p>Anthony Bobsin</p>
    <p>bobsinj@gmail.com</p>
  </div>
</div>