<% provide(:title, 'Home') %>
<div id="background-image"></div>
<div id="content">
    <div class="container-fluid">
        <div class="panel-heading">
          <h1>I want to learn</h1>
        </div>
        <div class="panel-body">
          <%= form_tag subjects_path, method: :get do %>
            <div class="row">
              <div class="col-md-6 col-md-offset-3 col-xs-12">
                <%= text_field_tag :search, params[:search], placeholder: "A programming language or framework", class:"form-control", autofocus: :true %>
              </div>
            </div>
            <%= submit_tag "Find Resources", name: nil, class:"btn btn-default", id:"mainbutt" %>
          <% end %>
        </div>
    </div>
</div>