<div class="row">
  <div class="col-md-6 col-md-offset-3 headspace">
    <h2><%= @user.name %></h2>
    <p>
      <% if @subject.nil? %>
        You should start learning a subject!
        <%= link_to "Learn a subject", new_subject_path %>
      <% else %>
        You are learning <%= @subject.name %>! Good luck.
      <% end %>
    </p>
  </div>
</div>