<div class="col-md-3 col-lg-3 hidden-xs hidden-sm" id="leftCol">

  <ul class="nav nav-stacked headspace" id="sidebar">
    <% if @search.present? %>
        <li><p class="side_titles">YOU SEARCHED FOR</p></li>
        <li><h3 id="search_query"><%= @search %></h3></li>
    <% end %>
    <li>
      <% if @sortedCategories.present? %>
          <p class="side_titles">
            CATEGORIES
          </p>
            <% @sortedCategories.each do | category | %>
              <% if category == @filter %>
                  <p class="category_results" id="current"><%= category %></p>
                  <%= link_to subjects_path(search: @search)  , class: "reset" do%>
                      <i class="fa fa-times"></i>
                  <% end %>
              <% else %>
                 <%= link_to category, subjects_path(filter: category, search: @search), class: "category_results" %>
              <% end %>
            <% end %>
      <% end %>
    </li>
  </ul>

</div>