<div class="subjects">
  <h2><%= link_to subject.name, subject_path(subject)  %></h2>
  <p>
    <% if subject.tags.present? %>
        <% subject.parse_tags.each do |tag| %>
            <div class="tags"><%= tag %></div>
        <% end %>
    <% end %>
  </p>
  <p><%= subject.description %></p>
</div>