<div class="subjects">
  <h2><%= link_to subject.name, subject_path(subject)  %></h2>
  <p>
    <% subject.tags.split(',').each do |tag| %>
        <div class="tags"><%= tag %></div>
    <% end %>
  </p>
  <p><%= subject.description %></p>
</div>