<div class="row">
	<div class="col-md-4 col-md-offset-4 headspace">
		<div id="indexcol">
			<h1>Subjects</h1></br>
			<% @subjects.each do |subject| %>
				<div class="subjects">
					<h3><%= link_to subject.name, subject_path(subject), class:"links" %></h3>
					<p><%= subject.description %></p>
				</div>
			<% end %>
			</br>
			<p id="spacer">Can't find what you're looking for?</p>
			<p><%= link_to "Click here", new_subject_path, class:"links" %> to create a new subject.</p>
		</div>
	</div>
</div>