<div class="row">
  <div class="col-md-4 col-md-offset-4 headspace">
    <h2><%= @subject.name %></h2>
    <p><%= @subject.description %></p>
    <p><%= link_to "Click to learn #{@subject.name}", add_subject_path(@subject.id), method: :post %></p>
  </div>
</div>