/* Variables */

$dark-gray: #3B4151;
$gray-white: #e6e6e6;
$gray: #adadad;
$light-gray: rgb(230, 230, 230);

//$orange: rgb(255, 153, 0);
//$dark-orange: rgb(255, 102, 0);
$orange: rgb(255, 102, 0);
$dark-orange: rgb(255, 45, 0);
$trans-orange: rgba(255, 107, 0, 0.4);
$opaque-orange: rgb(255, 196, 152);

$nice-blue: #337ab7;
$dark-blue: #2568A3;

//$paragraph: 'Josefin Sans', sans-serif;
$paragraph: 'Muli', sans-serif;
$head: 'Quicksand', sans-serif;