/* Variables */

$dark-gray: #2c3e50;
$grayer: #7A7A7A;
$gray-white: #e6e6e6;
$gray: #9e9e9e;
$grayish: #D3D3D3;
$light-gray: #bdc3c7;

//$orange: rgb(255, 153, 0);
//$dark-orange: rgb(255, 102, 0);
//$orange: rgb(255, 102, 0);
$dark-orange: rgb(255, 45, 0);
$orange: #ff5722;
$trans-orange: rgba(255, 107, 0, 0.4);
$opaque-orange: rgb(255, 196, 152);
$opaque-blue: #8FACE3;

$nice-blue: #3498db;
$dark-blue: #2980b9;
$darker-blue: #296192;
$darkest-blue: #174A77;

//$paragraph: 'Josefin Sans', sans-serif;
$paragraph: 'Muli', sans-serif;
$head: 'Quicksand', sans-serif;