/* Variables */

$dark-gray: #3B4151;
$gray-white: #e6e6e6;
$gray: #adadad;
$light-gray: rgb(230, 230, 230);

//$orange: rgb(255, 153, 0);
//$dark-orange: rgb(255, 102, 0);
//$orange: rgb(255, 102, 0);
$dark-orange: rgb(255, 45, 0);
$orange: #ff5722;
$trans-orange: rgba(255, 107, 0, 0.4);
$opaque-orange: rgb(255, 196, 152);
$opaque-blue: #8FACE3;

$nice-blue: #3498db;
$dark-blue: #2980b9;

//$paragraph: 'Josefin Sans', sans-serif;
$paragraph: 'Muli', sans-serif;
$head: 'Quicksand', sans-serif;