/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import 'config';

/* Universal */

html, body {
	letter-spacing: 1.5px;
	font-weight: 200;
	overflow-x: hidden;
}

.btn-default {
  font-family: $paragraph;
}

.form-control:focus {
  border-color: $orange;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 102, 0, 0.6);
}

/* Font Config */

h1, h2, h3, h4, h5, h6 {
  font-family: $head;
  font-weight: 700;
}

p, li, label {
  font-family: $paragraph;
  font-weight: 400;
}

a {
  color: $orange;
  &:hover {
    color: $dark-orange;
    text-transform: none;
    text-decoration: none;
  }
}

/* Navbar */

.navbar {
	z-index: 9999;
	width: 100vw;
	position: fixed;
	border: none;
	border-radius: 0;
	background-color: rgba(1, 1, 1, 0.9);
	margin-bottom: 0;
	.navbar-brand {
		font-size: 20px;
        font-family: $head;
        font-weight: 700;
		letter-spacing: 1.3px;
        color: $orange;
        &:hover {
          color: $dark-orange;
        }
	}
	.dropdown-menu {
		background-color: rgba(1, 1, 1, 0.9);
		li a {
			color: $gray;
			font-weight: 200;
			&:hover {
				background-color: inherit;
				color: white;
			}
		}
	}
}
