@import 'config';

/* Devise views */

.headspace {
	margin-top: 85px;
	letter-spacing: 1.3px;
	h2, h3, h4, p {
		text-align: center;
	}
	.field {
		margin-bottom: 25px;
	}
	.actions {
		text-align: center;
	}
}

.alert {
	margin-top: 50px;
	position: fixed;
	width: 100vw;
	text-align: center;
}
