// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 @import 'config';

/* Homepage */

#background-image {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;

	display: block;
	background-color: $gray-white;
	background-image: url('blurenhanced.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;

	
	-webkit-filter: blur(5px);
 	-moz-filter: blur(5px);
  	-o-filter: blur(5px);
  	-ms-filter: blur(5px);
  	filter: blur(5px);
  	

}

#content {
	position: relative;
	z-index: 999;
    height: 100vh;
    overflow-y: hidden;
	.container-fluid {
		.panel-heading {
            text-align: center;
			margin-top: 15vh;
			h1 {
				color: $dark-gray;
				font-size: 6vw;
				font-weight: 900;
			}
            #maintitle {
              color: $orange;
              font-size: 11vw;
            }
		}
		.panel-body {
			text-align: center;
			.form-control {
				height: 50px;
				font-size: 1em;
            }
		}
		.mainbutt {
            font-family: $paragraph;
            font-weight: 100;
			margin-top: 5vh;
			padding: 10px 20px;
			color: white;
			letter-spacing: 1.3px;
			background-color: rgba(1, 1, 1, 0.4);
			&:hover {
				background-color: rgba(1, 1, 1, 0.6);
			}
		}
	}
    #mainfooter {
      position: fixed;
      border-top: 1px solid $gray;
      width: 100vw;
      margin-top: 5vh;
      padding: 10px 15px;
      overflow-y: scroll;
      background-color: rgba(0.1, 0.1, 0.1, 0.4);
      p {
        font-weight: 300;
        color: white;
        font-size: 2.5vh;
      }
    }
}

/* Contact and About pages */

.conbout {
	h1 {
		text-align: center;
		margin-top: 20vh;
		margin-bottom: 5vh;
	}
	p {
		text-align: center;
		line-height: 200%;
		font-size: 1.5em;
	}
}

/* General */

.links {
    font-family: $paragraph;
    font-weight: 400;
	&:hover {
		text-decoration: none;
	}
}
