// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'config.scss';

.user-image {
    img {
        width: 100%;
        border-radius: 100%;
        float: left;
        right: 0;
    }
}
.float-right {
    float: right;
}

.user-mid {
    .user-mid-top {
        .user-desc {
            margin-left: 20px;
            line-height: 200%;
        }
        padding-bottom: 20px;
        border-bottom: 3px solid $dark-blue;
    }
    .user-mid-bottom {
        .activity-row {
            margin-left: 10px;
        }
        .activity {
            padding: 10px 0;
        }
    }
}

.user-right {
    .favourites-row {
        margin-left: 10px;
        .sidebar-link {
            display: block;
            padding: 10px 0;
            border-bottom: 1px solid $grayish;
            line-height: 200%;
        }
    }
}

.small-top {
    margin-top: 15px;
}
.small-bottom {
    margin-bottom: 15px;
}
